@import "variables";
.ce_accordionStart  {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
}

.toggler {
  color: white;
  background-color: #85c3df;
  border-radius: 10px;
  padding: 8px 22px;
  background-size: auto 30px;
  background-image: url("/files/assets/layout/pfeil.svg");
  background-repeat: no-repeat;
  background-position: 97%;
  cursor: pointer;
  text-align: left;
}

.ce_accordionStart .description {
  color: $grau;
  font-size: 18px;
}
