@import "variables";
.ce_accordionStart  {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
}

.toggler {
  color: white;
  background-color: #85c3df;
  border-radius: 18px;
  padding: 20px 22px;
  background-size: auto 30px;
  background-image: url("/files/assets/layout/pfeil.svg");
  background-repeat: no-repeat;
  background-position: 97%;
  cursor: pointer;
  text-align: left;
  outline: none;
  font-weight: bold;
  transition: filter 250ms, background-position ease-out;
  &:hover {
    filter: brightness(1.1);
    background-position: 98%;
  }
}

.ce_accordionStart .description {
  color: $grau;
  font-size: 18px;
}

.ce_accordionStart .ce_image {
  margin-top: 15px;
}
