@import "variables";

.exponat, .mod_mae_event_filter, .tiles {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.tiles {
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tiles.one .tile {
  width: 100%;
}
.tiles.two .tile {
  width: 42%;
}
.tiles.three .tile {
  width: 30%
}
.tiles.four .tile{
  width: 24%;
}
.tiles.five .tile{
  width: 19%;
}

.tile {
  h2 {
    font-size: 26px;
    text-align: center;
    font-weight: 500;
    border-bottom: 2px solid #264d95;
    padding-bottom: 13px;
    margin-bottom: 10px;
    a {
      color: $blau1;
      text-decoration: none ;
      transition: color 250ms;
      &:hover {
        color: $gelb2;
      }
    }
  }
  p {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    a {
      color: $gelb2;
      text-decoration: none;
      transition: color 250ms;
      &:hover {
        color: black;
      }
    }
  }
}

.tile-image {
  overflow: hidden;
}

.tile-image img {
  width: 100%;
  transition: transform 250ms ease-out;
  &:hover {
    transform: scale(1.1);
  }
}

.text_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text_image .image_right {
  width: 48%;
  img {
    margin: 13px auto;
  }
}

.text_image .text {
  width: 48%;
}

.text_image .text, .text_image .image_right {
  color: gray;
  font-size: 14px;
  h3 {
    border-bottom: 1px solid blue;
    margin-bottom: 0px;
    padding-bottom: 5px;
  }
  .text-left {

  }
  p {
    background-color: aliceblue;
    margin: 5px auto;
    strong {
      font-weight: 700;
    }
    img {
      width: 25px;
      position: absolute;
      left: 48%;
    }
  }
}


.th {
  background: white;
  color: black;
  font-size: 12px;
}

tr {
  background-color: aliceblue;
}

@media screen and (max-width: 1025px) {
  .text_image .text, .text_image .image_right {
    width: 100%;
  }

  .mod_mae_event_filter ul{
    display: inline-block;
    li {
      margin: 5px auto;
    }
  }

  .text_image .text p img,{
    left: 81%;
  }

  .tiles.one .tile, .tiles.two .tile, .tiles.three .tile,
  .tiles.four .tile, .tiles.five .tile {
    width: 100%;
  }

}