$grau: rgb(55,64,73);
$blau1: rgb(38,77,149);
$blau2: rgb(133,195,223);
$gelb: rgb(255,212,0);
$hellgrau: rgb(255,255,223);
$gelb2: rgb(255,197,0);
$blau1-transparent: rgba(38,77,149, .5);
$max-width: 1200px